<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>aboot</title>
</head>
<body>
<h2> and what are you talking aboot? </h2>
<p> This came from the template: {{index .StringMap "test"}}</p>
</body>
</html>